# Randomizing Load Curves

In [1]:
from matplotlib import pyplot as plt
import pandas as pd
import numpy as np
import datetime
import scipy
import seaborn as sns

In [7]:
df = pd.read_csv('claes_test.csv', index_col=0, parse_dates=True)
df.drop(columns='V3', inplace=True)

In [8]:
#creating probability vector
min_prob, max_prob = -0.05, 0.05
prob_array = (max_prob - min_prob) * np.random.random_sample(size=df.shape[0]) + min_prob

In [9]:
prob_array

array([-0.02303198, -0.0279287 , -0.02587952, ...,  0.03609685,
        0.02352345, -0.04707367])

In [12]:
df['V_rand'] = df['V2'] + df['V2'].mul(prob_array)

In [13]:
df.head()

,Temperature,V2,V4,V5,V6,V7,V8,V9,V10,aggLoad,V_rand
TimeDate,,,,,,,,,,,
2018-04-24 00:00:00,0.1,2.7,2.72,2.6,1.4,1.2,1.1,1.3,1.6,14.62,2.637814
2018-04-24 01:00:00,0.0,2.6,2.39,3.2,1.0,1.2,1.1,1.2,1.4,14.09,2.527385
2018-04-24 02:00:00,0.0,2.8,1.79,3.0,1.3,1.1,1.1,1.4,1.3,13.79,2.727537
2018-04-24 03:00:00,-0.1,2.6,1.78,3.0,1.3,1.2,1.1,1.9,1.1,13.98,2.642898
2018-04-24 04:00:00,-0.1,2.6,2.07,3.3,0.8,1.2,1.1,1.2,1.1,13.37,2.617289

In [14]:
# A function to copy a load profile with stochastic deviation
# from the original. The values varies according to a gaussian 
# distribution, with default and mu = 0, sigma = 0.05. The
# funtion returns a copy of the dataframe with the new column. 

def copy_load_stochastic(dataframe, column_name, sigma=0.05):
    
    #creating probability vector
    min_prob, max_prob = -sigma, sigma
    prob_array = (max_prob - min_prob) * np.random.random_sample(size=df.shape[0]) + min_prob
    new_col_name = column_name + '_stoch_copy'
    df[new_col_name] = df[column_name] + df[column_name].mul(prob_array)
    
    return dataframe

In [15]:
df_with_copy = copy_load_stochastic(df, 'V4')

In [16]:
df_with_copy.head()

,Temperature,V2,V4,V5,V6,V7,V8,V9,V10,aggLoad,V_rand,V4_stoch_copy
TimeDate,,,,,,,,,,,,
2018-04-24 00:00:00,0.1,2.7,2.72,2.6,1.4,1.2,1.1,1.3,1.6,14.62,2.637814,2.812520
2018-04-24 01:00:00,0.0,2.6,2.39,3.2,1.0,1.2,1.1,1.2,1.4,14.09,2.527385,2.501403
2018-04-24 02:00:00,0.0,2.8,1.79,3.0,1.3,1.1,1.1,1.4,1.3,13.79,2.727537,1.861587
2018-04-24 03:00:00,-0.1,2.6,1.78,3.0,1.3,1.2,1.1,1.9,1.1,13.98,2.642898,1.739215
2018-04-24 04:00:00,-0.1,2.6,2.07,3.3,0.8,1.2,1.1,1.2,1.1,13.37,2.617289,2.131913